<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('Recipes')" />
<body>
<div th:replace="menu :: menu(${loggedUser})" />
<div class="d-md-flex flex-wrap" >
    <div th:each="recipe : ${recipes}" class="card card-style">

        <div class="image-container">
            <img th:src="@{'data:image/jpg;base64,'+${recipe.picture}}"
                 class="card-img-top" alt="...">
        </div>

        <div class="card-body">
            <h5 class="card-title" th:text = "${recipe.name}"></h5>
            <p class="card-text" th:text = "${recipe.shortDescription}"></p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text = "${recipe.timeToCook} + ' minutes'"></li>
            <li class="list-group-item" th:text = "${StringUtil.StringRemoveBrackets(recipe.products)}"></li>

            <li class="list-group-item d-flex justify-content-center">
                <form method="post">
                    <button type="submit" name="recipeId" class="btn btn-primary" th:value="${recipe.id}">
                        View recipe
                    </button>
                </form>
            </li>

            <li th:action="@{/}"
                th:if="${loggedUser != null and LoggedUser.isOwnerOrAdmin(loggedUser, recipe)}"
                class="list-group-item d-flex justify-content-around">
                <form method="post">
                    <button type="submit" name="editId" class="btn btn-primary" th:value="${recipe.id}">
                        Edit
                    </button>
                    <button type="submit" name="deleteId" class="btn btn-danger" th:value="${recipe.id}">
                        Delete
                    </button>
                </form>
            </li>
        </ul>

    </div>
</div>
</body>
</html>